.nosotros {
    width: 100%;
}
/* Common */

/* Info */

.info-section {
    padding: 60px;
    width: 100%;
}

.info-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.info-text-container h3 {
    font-family: 'Poppins', Sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 60px;
    color: royalblue;
}

.info-bg-gray {
    background-color: rgb(247, 247, 252);
}
