.nosotros {
    width: 100%;
}

.nosotros-main-section {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
/* Common */

/* Info */

.info-section {
    padding: 60px;
    width: 100%;
}

.info-text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    gap: 12px;
}

.info-head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    justify-content: flex-start;
}

.info-head-container h3 {
    font-family: 'Poppins', Sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 30px;
    color: royalblue;
}

.info-head-container p {
    text-align: justify;
}

.info-text-container h2 {
    font-family: 'Poppins', Sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 60px;
}

.info-text-container h3 {
    font-family: 'Poppins', Sans-serif;
    font-size: 36px;
    font-weight: 300;
}

.info-text-container ul {
    margin: 0 0 1.5em 3em;
}

.info-text-container li {
    font-size: 15px;
    font-weight: 500;
    color: #5a5a5a;
    list-style: disc;
}

.info-bg-gray {
    background-color: rgb(247, 247, 252);
}

.info-img-container {
    border: 1px solid lightgrey;
}
/* Descripción */

.descripcion-section {
    padding: 60px;
    background-color: rgb(247, 247, 252);
}

.descripcion-main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

.descripcion-left-section {
    flex: 1;
}

.descripcion-left-section h2 {
    font-size: 48px;
    font-weight: 400;
}

.descripcion-left-section p {
    font-size: 38px;
    font-weight: 100;
}

.descripcion-right-section {
    flex: 1;
}

.descripcion-right-section p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 15px;
}

.descripcion-experiencia-container {
    display: flex;
    flex-direction: column;
}

.descripcion-experiencia-container h2 {
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .info-section {
        padding: 30px;
    }

    .nosotros-main-section {
        flex-direction: column;
    }

    .info-head-container {
        width: 100%;
    }

    .info-head-container h3 {
        margin-bottom: 10px;
    }

    .descripcion-section {
        padding: 30px;
    }

    .descripcion-main-container {
        flex-direction: column;
    }

    .descripcion-left-section p {
        font-size: 24px;
    }

    .descripcion-left-section h2 {
        font-size: 40px;
    }
}
