/* Contacto */
.contacto-section {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background-color: rgb(247, 247, 252);
}

.contacto-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto-text-container h3 {
    font-size: 36px;
    font-weight: bold;
}

.contacto-form-container {
    border-radius: 15px;
    padding: 50px 60px;
    gap: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacto-form {
    width: 600px;
    height: 100%;
}

.contacto-input,
.contacto-textarea {
    width: 100%;
    border-radius: 15px;
    padding: 8px;
}
