/* Header */

.header-section {
    height: 80vh;
}

.header-section {
    background-image: url('/images/cefire-home.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bg-blur {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text-container {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    gap: 1rem;
}

.header-text-container h3 {
    color: white;
    font-size: 48px;
    font-weight: bold;
    line-height: 46px;
}

@media screen and (max-width: 767px) {
    .header-bg-blur {
        padding: 30px;
    }

    .header-text-container {
        width: 100%;

        text-align: center;
        display: flex;
        align-items: center;
    }

    .header-section {
        background-position: center;
    }
}
