.card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
}

.card-img-container {
    width: 500px;
    height: 500px;
    border-radius: 8px;
}

.card-text-container {
    flex: 1;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.card-text-container h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 0;
}

.card-text-container p {
    font-size: 16px;
    font-weight: 200;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .card-container {
        flex-direction: column;
    }

    .card-text-container p {
        text-align: justify;
    }

    .card-text-container h2 {
        text-align: center;
    }
}
