.navbar {
    height: 90px;
}

.navbar-item {
    padding: 5px 30px;
    color: black;
}

.navbar-item:hover {
    color: gainsboro;
    border-bottom: 2px solid white;
}

.active {
    color: royalblue;
}

.deactive {
    color: black;
}

.deactive:hover {
    color: royalblue;
}

.blue {
    background-color: blue;
}

.nav-wrap {
    background-color: transparent;
}

.color-black {
    color: black;
}
